@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
/* font-family: 'Noto Sans', sans-serif; */

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1f1f23;
  color: #dedee3;
  font-size: 16px;
}

* {
  font-family: 'Noto Sans', sans-serif;
}

a {
  color: #dedee3;
}

input {
  display: block;
  margin: 0;
  outline: none;
  border-radius: 17px;
  border: none;
  padding: 0 15px;
  line-height: 1;
  font-size: 14px;
  height: 34px;
  width: calc(100% - 30px)
}

button {
  display: block;
  line-height: 1;
  border: none;
  padding: 10px 15px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #be2a2a;
  color: #e3e3e8;
  cursor: pointer;
  font-size: 14px;
  border-radius: 0;
  transition: all .2s ease-in-out;
}

button:hover {
  background-color: #8b1a1a;
}

input[type='date'] {
  display: flex;
  align-items: center;
  text-align: center;
}

h3 {
  text-align: center;
  margin: 15px 0;
}

.animated_loading_btn {
  transition: all .4s ease-in-out;
  position: relative;
  font-size: 16px;
  border-radius: 18px;
}

.animated_loading_btn.loading .btn_text {
  opacity: 0;
}

.animated_loading_btn img {
  display: block;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 14px);
  animation: 3s linear 0s infinite loading;
}

.modal_background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  background-color: rgba(0, 0, 0, .65);
}

.modal_window {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: #898989;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px solid #c3c3c3;
  color: #000;
  border-radius: 20px;
  text-align: center;
  max-width: 300px;
  
}

.modal_window img {
  width: 50px;
  display: block;
  margin-bottom: 15px;
}

.modal_window button {
  /* border: 1px solid #000; */
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, .8);
  margin: 20px 0 0;
  border-radius: 18px;
  width: 80px;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
}

.loader img {
  width: 40px;
  display: block;
  margin-right: 10px;
  border-radius: 50%;
  animation: 3s linear 0s infinite loading;
}

.main_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main_title {
  margin: 25px 0 30px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.login_link {
  display: block;
  margin-left: 15px;
}

.login_link img,
.logout_btn img {
  width: 35px;
  display: block;
}

.logout_btn {
  display: block;
  margin-left: 15px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.logout_btn:hover {
  background-color: transparent;
}

.navmenu_wrap {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}

.navlink {
  display: block;
  padding: 15px 20px;
  color: #e3e3e8;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  width: 110px;
  position: relative;
}

.navlink::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20px;
  height: 1px;
  background-color: #e3e3e8;
  transition: all .2s ease-in-out;
}

.navlink:hover::after {
  width: 50%;
}

.navlink.active::after {
  width: 100%;
}

.dunderlist_wrap {
  max-width: 800px;
  width: 100%;
  padding-top: 15px;
}

.no_list_items {
  text-align: center;
  font-style: italic;
  display: block;
}

.dunderlist_search_filter_wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dunderlist_search {
  max-width: 350px;
  width: calc(100% - 30px);
}

.dunderlist_filter {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.dunderlist_filter p {
  margin: 0 15px 0 0;
}

.dunderlist_wrap .loader,
.playedlist_wrap .loader {
  margin: 0;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.loader_wrap {
  height: 80px;
  position: relative;
}

.dunderlist_item_wrap {
  display: flex;
  background-color: #26262c;
  padding: 10px 42px 10px 10px;
  margin-bottom: 15px;
  position: relative;
}

.dunderlist_item_wrap input[type='date'] {
  margin: 10px 0;
  width: 150px;
}

.dunderlist_item_info_wrap {
  padding: 0 10px;
}

.dunderlist_item_img_wrap {
  max-height: 200px;
  overflow: hidden;
  flex-shrink: 0;
}

.dunderlist_item_img_wrap img {
  width: 300px;
  display: block;
}

.dunderlist_item_info_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.dunderlist_item_info_wrap a {
  margin-bottom: 10px;
  display: block;
}

.dunderlist_item_title {
  font-size: 24px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 10px;
}

.dunderlist_item_controls,
.playedlist_item_controls {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

.list_item_control {
  padding: 0;
  background-color: transparent;
  border: none;
  display: block;
}

.list_item_control:hover {
  background-color: transparent;
}

.dunderlist_item_controls .list_item_control:last-child {
  margin-top: 20px;
}

.list_item_control img {
  width: 32px;
  height: 32px;
  display: block;
}

.reactions_wrap {
  display: flex;
}

.reaction_item {
  display: flex;
  align-items: center;
  padding: 5px 8px;
  border: 2px solid #afafaf;
  border-radius: 10px;
  margin-right: 10px;
  user-select: none;
  transition: all .1s ease-in-out;
  background-color: #26262c;
}

.reaction_item.highlighted,
.reaction_item:hover {
  background-color: #71575b;
}

.reaction_item.highlighted.disabled:hover {
  cursor: default;
  background-color: #71575b;
}

.reaction_item.disabled:hover {
  background-color: #26262c;
  cursor: default;
}

.reaction_item img {
  width: 20px;
  display: block;
  margin-right: 5px;
}

.reaction_item span {
  font-size: 18px;
  display: block;
  font-weight: bold;
  line-height: 1;
}

.add_new_game_btn {
  display: block;
  padding: 15px 20px;
  background-color: #be2a2a;
  color: #e3e3e8;
  font-weight: bold;
  text-decoration: none;
  transition: all .2s ease-in-out;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  border: none;
  margin: 15px 0 10px;
  border-radius: 26px;
}

.add_new_game_btn:hover {
  background-color: #8b1a1a;
}

.parse_gameinfo_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 30px;
}

.parse_gameinfo_input_block {
  display: flex;
  justify-content: center;
}

.parse_gameinfo_block input {
  width: 120px;
  border-radius: 17px 0 0 17px;
  font-weight: bold;
}

.parse_gameinfo_btn {
  border-top-right-radius: 17px;
  border-bottom-right-radius: 17px;
  height: 34px;
  margin-left: -1px;
}

.game_info_form_wrap {
  width: 500px;
}

.form_field {
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 20px;
}

.form_error_msg {
  position: absolute;
  bottom: 0;
  right: 15px;
  font-size: 14px;
  color: #ff3c3c;
}

.game_info_form_wrap {
  position: relative;
}

.game_info_form button {
  margin: 0 auto;
  border-radius: 19px;
  padding: 12px 25px;
}

.form_loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(241, 241, 241, 70%);
  z-index: 10;
}

.form_loading img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  animation: 3s linear 0s infinite loading;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.login_form_wrap {
  position: relative;
}

.login_form_title {
  font-size: 24px;
  font-weight: bold;
  margin: 50px 0 30px;
}

.login_form button{
  margin: 0 auto;
  border-radius: 17px;
}

.playedlist_wrap {
  max-width: 800px;
  width: 100%;
}

.games_played {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin: 5px 0;
  font-style: italic;
}

.games_played img {
  width: 28px;
  margin-left: 10px;
  border-radius: 50%;
}

.search_game_wrap {
  border-width: 1px 0 1px 0;
  border-style: dashed;
  border-color: #dedee3;
  margin-top: 10px;
}

.search_field_wrap {
  display: flex;
  margin-bottom: 15px;
  justify-content: center;
}

.search_field_wrap input {
  width: 270px;
  margin-right: 10px;
}

.clear_search_result {
  margin: 0 auto 10px;
  border-radius: 18px;
}

.playedlist_item_wrap {
  display: flex;
  background-color: #26262c;
  padding: 10px 42px 10px 10px;
  margin-bottom: 10px;
  position: relative;
  align-items: center;
}

.playedlist_item_info_wrap {
  padding: 0 10px;
  font-size: 13px;
}

.playedlist_item_img_wrap {
  display: flex;
  align-items: center;
  max-height: 50px;
  overflow: hidden;
  width: 100px;
  flex-shrink: 0;
}

.playedlist_item_img_wrap img {
  width: 100px;
  display: block;
}

.playedlist_item_info_wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.playedlist_item_info_wrap a {
  margin-bottom: 10px;
  display: block;
}

.playedlist_item_date {
  font-style: italic;
}

.playedlist_item_title {
  font-size: 16px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 10px;
}

.playedlist_loadmore_btn_wrap {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

@media (max-width: 900px) {
  .dunderlist_wrap,
  .playedlist_wrap {
    max-width: none;
    width: calc(100% - 30px);
    margin: 0 15px;
  }
}

@media (max-width: 768px) {
  .dunderlist_item_img_wrap img {
    width: 200px;
  }

  .dunderlist_item_title {
    font-size: 22px;
  }
}

@media (max-width: 580px) {
  .game_info_form_wrap {
    width: calc(100% - 30px);
    margin: 0 15px;
  }

  .modal_window {
    max-width: 60vw;
    width: 100%;
    padding: 15px;
  }

  .dunderlist_item_wrap {
    flex-direction: column;
  }

  .dunderlist_item_controls {
    flex-direction: row;
    right: 10px;
    top: auto;
    bottom: 0;
    height: auto;
    padding: 5px 0;
  }

  .dunderlist_item_wrap {
    padding: 10px 10px 50px 10px;
  }

  .dunderlist_item_controls .list_item_control:last-child {
    margin-top: 0;
    margin-left: 25px;
  }

  .dunderlist_item_img_wrap img {
    margin: 0 auto;
    width: 150px;
  }

  .dunderlist_item_info_wrap {
    align-items: center;
    margin-top: 10px;
  }

  .dunderlist_item_title {
    font-size: 18px;
    text-align: center;
  }

  .dunderlist_item_info_wrap a {
    margin-bottom: 15px;
  }
}

@media (max-width: 450px) {
  .loader img {
    width: 30px;
  }

  .loader_wrap {
    height: 50px;
  }

  .dunderlist_wrap .loader,
  .playedlist_wrap .loader {
    top: 10px;
  }

  .main_title {
    margin: 15px 0;
    font-size: 24px;
  }

  .navlink {
    padding: 15px 10px;
    width: 100px;
    font-size: 14px;
  }

  .add_new_game_btn {
    font-size: 14px;
    margin: 15px 0 10px;
    padding: 10px 15px;
  }

  .login_form_title {
    font-size: 20px;
    margin: 30px 0 15px;
  }

  .form_field {
    margin-bottom: 10px;
  }

  .form_error_msg {
    font-size: 13px;
  }

  .parse_gameinfo_block {
    margin: 0 0 15px;
  }

  .parse_gameinfo_block p {
    text-align: center;
    padding: 0 15px;
  }
}

@media (max-width: 360px) {
  .dunderlist_filter {
    font-size: 14px;
  }

  .search_game_wrap h3 {
    margin: 10px 0 15px;
  }

  .search_field_wrap input {
    width: 100%;
  }

  .playedlist_item_wrap {
    flex-direction: column;
    padding: 10px 10px 50px 10px;
  }

  .playedlist_item_img_wrap {
    justify-content: center;
  }

  .playedlist_item_info_wrap {
    margin: 15px 0 0;
    align-items: center;
  }

  .playedlist_item_title {
    text-align: center;
  }

  .playedlist_item_controls {
    flex-direction: row;
    right: 10px;
    top: auto;
    bottom: 0;
    height: auto;
    padding: 5px 0;
  }
}